@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: rgb(26, 26, 26);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    font-size: 65px;
    margin: 0px;
    padding-right: 328px;
    text-align: justify;
}

h2 {
    color: rgb(170, 139, 0);
    font-family: 'Antonio', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 12px;
    border-bottom: 10px solid rgb(46, 185, 155);
    padding-bottom: 20px;
    text-align: justify;
}

p {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify
}

blockquote {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    border-left: rgb(255, 0, 0) 5px solid;
    width: 400px;
    padding-left: 20px;
    text-align: justify;
}

.parrafo_columna {
    text-align: justify;
    width: 48%;
}

.parrafo_doble {
    column-count: 2;
    column-gap: 45px;
    column-rule: dotted 4px rgb(165, 2, 24);
}

.Parrafo_centrado_negrita {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 60px;
    border: solid 3px black;
    padding: 12px;
}

.Parrafo_negrita {
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 65px;
    padding-right: 65px;
}

.imagen_banner {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagen_fairuse {
    width: 100px;
    position: relative;
    left: 450px;
}

.imagen_GooglevsOracle {
    width: 450px;
    padding-right: 40px;
    padding-top: 90px;
    float: right;
}

.imagen_Cloud {
    width: 297px;
    padding: 1px;
    padding-right: 20px;
    padding-top: 5px;
    margin: 1px;
    float: right;
}

.iframe-container {
    border: red 10px solid;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    right: 10px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Envoltorio_principal {
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    padding: 40px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-radius: 10px;
}